.forget-password {
    color: #000 !important;
    background-color: transparent !important;
    width: 100%;
    text-align: center;
    text-decoration: underline !important;
}

.nav-footer ul li {
    display: inline-block;
    border-right: 1px solid #666;
    font-size: 12px;
    margin-right: 10px;
    padding-right: 10px;
    text-decoration: underline !important;
}

.nav-footer ul li:last-child {
    border-right: none;
}

.error {
    color: red;
    margin-top: 5px;
    text-align: left;
}

.content-error {
    text-align: left !important;
}

.content-error a {
    background-color: transparent !important;
    color: #0f0f0f !important;
    padding: 0 !important;
    text-decoration: underline !important;
}
