.forget-password {
    color: #000 !important;
    background-color: transparent !important;
    width: 100%;
    text-align: center;
    text-decoration: underline !important;
}

.nav-footer ul li {
    display: inline-block;
    border-right: 1px solid #666;
    font-size: 12px;
    margin-right: 10px;
    padding-right: 10px;
    text-decoration: underline !important;
}

.nav-footer ul li:last-child {
    border-right: none;
}

.error {
    color: red;
    margin-top: 5px;
    text-align: left;
}

.content-error {
    text-align: left !important;
}

.content-error a {
    background-color: transparent !important;
    color: #0f0f0f !important;
    padding: 0 !important;
    text-decoration: underline !important;
}

.page-number a:hover {
    cursor: pointer;
}

ul li.active {
    background-color: #F6F6F6;
}

.pagination-sm .page-item:first-child .page-link{
    background-image: none !important;
}

.pagination-sm .page-item:last-child .page-link{
    background-image: none !important;
}

.pagination-sm .page-item.disabled {
    cursor: not-allowed !important;
}

.info, .pagination {
    margin: 0;
}

span.info {
     display: inline-block;
    float: left;
    line-height: 30px;
    vertical-align: middle;
}

.fixed-table-body {
    /*overflow-x: visible !important;*/
    /*overflow-y: visible !important;*/
}

ul.pagination {
    border-bottom: 2px solid #cccccc;
}

.jsDatepcker[readonly] {
    background-color: #ffffff;
}

button.pd-setting-ed[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h3.required::before, label.required::before, span.required::before {
    display: inline-block;
    content: "*";
    color: #f30f1d;
    border-radius: 10rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-right: 14px;
}

h3.required.after::after, label.required.after::after, span.required.after::after {
    display: inline-block;
    content: "*";
    color: #f30f1d;
    font-size: 20px;
    line-height: 1;
    margin-left: 14px;
}

h3.required.after::before, label.required.after::before, span.required.after::before {
    display:none
}

.modal-dialog {
    min-width: 70% !important;
}

.menuSp {
    right: 0px;
    left: auto;
    text-align: center;
    text-indent: 0px;
    font-size: 18px;
}
